# version: '3.8' # Comment out due to a warning: the attribute `version` is obsolete, it will be ignored, please remove it to avoid potential confusion
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: eli_test_strips
      POSTGRES_USER: eli_user
      POSTGRES_PASSWORD: eli_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - ./uploads:/app/uploads
    depends_on:
      - postgres

volumes:
  postgres_data: